{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}


  <!-- Link Swiper's CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.css">
<link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">

 <!-- Demo styles -->
  <style>
    html, body {
      position: relative;
      height: 100%;
    }
    body { 
      background: #eee;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color:#000;
      margin: 0;
      padding: 0;
    }
    .swiper-container {
      width: 100%;
      height: 100%;
    }
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
  </style>
</head>
<body>
<div class="container">
<p class="h1 text-center">Bienvenido a Bookflix!</p>
<br>
<div class="text-center">
<a href="{{ path('app_login') }}"" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Iniciar sesion</a>
<a href="{{ path('registro') }}"" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Registrarse</a>
</div>
<br>
<br>
<br>
<p class="h3 text-center"> Algo de lo que podras encontrar:</p>
<br>
  <!-- Swiper -->
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img class="rounded-sm" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRa72OJO5HuXV3TwY9fo6BSDQj5-JLyy1VmxLPrZlIXG7clABAn&usqp=CAU">
      </div>
      <div class="swiper-slide">
        <img class="rounded-sm" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRa72OJO5HuXV3TwY9fo6BSDQj5-JLyy1VmxLPrZlIXG7clABAn&usqp=CAU">
      </div>
      <div class="swiper-slide">
        <img class="rounded-sm" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRa72OJO5HuXV3TwY9fo6BSDQj5-JLyy1VmxLPrZlIXG7clABAn&usqp=CAU">
      </div>
      <div class="swiper-slide">
        <img class="rounded-sm" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRa72OJO5HuXV3TwY9fo6BSDQj5-JLyy1VmxLPrZlIXG7clABAn&usqp=CAU">
      </div>
      <div class="swiper-slide">
        <img class="rounded-sm" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRa72OJO5HuXV3TwY9fo6BSDQj5-JLyy1VmxLPrZlIXG7clABAn&usqp=CAU">
      </div>
       <div class="swiper-slide">
        <img class="rounded-sm" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRa72OJO5HuXV3TwY9fo6BSDQj5-JLyy1VmxLPrZlIXG7clABAn&usqp=CAU">
      </div>
        <div class="swiper-slide">
        <img class="rounded-sm" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRa72OJO5HuXV3TwY9fo6BSDQj5-JLyy1VmxLPrZlIXG7clABAn&usqp=CAU">
      </div>
         <div class="swiper-slide">
        <img class="rounded-sm" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRa72OJO5HuXV3TwY9fo6BSDQj5-JLyy1VmxLPrZlIXG7clABAn&usqp=CAU">
      </div>
         <div class="swiper-slide">
        <img class="rounded-sm" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRa72OJO5HuXV3TwY9fo6BSDQj5-JLyy1VmxLPrZlIXG7clABAn&usqp=CAU">
      </div>
         <div class="swiper-slide">
        <img class="rounded-sm" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRa72OJO5HuXV3TwY9fo6BSDQj5-JLyy1VmxLPrZlIXG7clABAn&usqp=CAU">
      </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
  </div>
  </div>

  <!-- Swiper JS -->
<script src="https://unpkg.com/swiper/js/swiper.js"></script>
<script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper('.swiper-container', {
      slidesPerView: 3,
      spaceBetween: 30,
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
    });
  </script>


{% endblock %}




